.margin {
  margin-left: 5%;
}

.quarto-title{
  color: white;
  text-align: center;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
    margin-bottom: 0;
    color: white;
}

#sublead{
  font-size: 1.05em;
}

#sub_sublead{
  font-size: 0.80em;
}

.table{
  --bs-table-striped-bg: white;
}